     <!-- MAIN CONTENT SECTION -->
     <section class="mainContent clearfix setp5" ng-controller="userController">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="thanksContent">
                    <h2>Verify Your Email <small>This process is needed to activate your account</small></h2>
                    <div class="thanksInner">
                      <div class="row">
                            <div class="form-group col-sm-4 col-xs-12">
                            <label for="">User ID</label>
                            <input type="text" ng-model="identification" class="form-control" id="">
                            <p>Press the button to complete your account verification:</p>
                            <button class="btn btn-success" data-ng-click="verify(identification)">Verificate</button>
                            <br></br>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>