
<!-- MAIN CONTENT SECTION -->
 <section class="mainContent clearfix" ng-controller="mainController">
    <div class="container">
      <div class="row featuredCollection margin-bottom">
        <div class="col-xs-12">
          <div class="page-header">
            <h4>GAS STATION PHARMACY</h4>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail" onclick="location.href='single-product.html';">
            <div class="imageWrapper">
              <img src="../img/HomeView/pharmacy12.jpg" alt="feature-collection-image" style="width: 350px; height: 400px;">
              <div class="masking"><a  class="btn viewBtn">Show Meds</a></div>
            </div>
            <div class="caption">
              <h4>Medicaments</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail" onclick="location.href='single-product.html';">
            <div class="imageWrapper">
              <img src="../img/HomeView/pharmacy13.jpg" alt="feature-collection-image" style="width: 350px; height: 400px;">
              <div class="masking"><a class="btn viewBtn">Show Services</a></div>
            </div>
            <div class="caption">
              <h4>Services</h4>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="thumbnail" onclick="location.href='single-product.html';">
            <div class="imageWrapper">
              <img src="../img/HomeView/pharmacy14.jpg" style="width: 350px; height: 400px;" alt="feature-collection-image">
              <div class="masking"><a  class="btn viewBtn">Be Healthy</a></div>
            </div>
            <div class="caption">
              <h4>Health</h4>
            </div>
          </div>
        </div>
      </div>
