<!-- MAIN CONTENT SECTION -->
<div ng-controller="userController">
<section class="mainContent clearfix logIn">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>log in</h3></div>
                <div class="panel-body">
                  <form action="" role="form">
                    <div class="form-group">
                      <label for="">Enter Username</label>
                      <input type="text" class="form-control"  ng-model="username">
                    </div>
                    <div class="form-group">
                      <label for="">Password</label>
                      <input type="password" class="form-control" ng-model="password">
                    </div>
                    <button type="button" ng-if="!EmployeeCheck"  class="btn btn-primary btn-block"  ng-click="loginUser(username,password,gRecaptchaResponse)">log in</button>
                    <button type="button" ng-if="EmployeeCheck"  class="btn btn-primary btn-block"  ng-click="loginUser(username,password,gRecaptchaResponse)" data-toggle="modal" data-target="#myModal">log in</button>
                    <button type="button" class="btn btn-link btn-block">Forgot Password?</button>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="EmployeeCheck"> 
                          Employee
                        </label>
                      </div>
                      <br>
                    <div
                    vc-recaptcha
                    ng-model="gRecaptchaResponse"
                    theme="dark"
                    key="'6Le2EzYUAAAAAFtstiAPVePaUOA6Jk7cDypk38yi'"
                    ></div>
                            <div vc-recaptcha ></div> 

                   
                    
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Update Employee Info</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <label for="sucursales">Choose an option</label>
               <select multiple class="form-control" id="sucursales"  >
                <option ng-repeat="p in options"  data-dismiss="modal" ng-click="setSucursal(p,usernameEmp)">{{p.nombreSucursal}}:{{p.nombreRol}}</option>
            </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="setSucursal(selected,usernameEmp)">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>