<!DOCTYPE html>
<html lang="en">
  <script src="../Scripts/client.js"></script>
  <div ng-app="productosClient">

    <h1>Medicamentos</h1>

    <div class="list-group" ng-controller="contProductos">

    <div ng-repeat="p in listProducts">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
          <div class="d-flex justify-content-between">
           <img class="img-fluid" src="{{p.img}}" alt="Card image cap">        
           <h5 class="mb-1">{{p.producto}} <br><br> ${{p.precio}} <br><br> </h5>
           <p>{{p.prescripcion}} requiere prescripcion</p>
           <div class="form-group select">
            <label>Cantidad</label>
            <select class="form-control" id="cantidad" ng-model="cantidad" required>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <button type="button" class="btn btn-primary" ng-click="add(p.producto, cantidad)">
            Comprar
          </button>
        </div>
      </a>
    </div>

    </div>
    <div id="snackbar">Añadido al carrito</div>
      




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </div>
</html>