<!DOCTYPE html>
<html data-ng-app="mainModule">
  <head>
    <title>Gas Station Pharmacy</title>
    <meta charset="utf-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="../library/angular.min.js"></script>
    <script src="../library/lodash.js"></script>
    <script src="../library/angular-route.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="../library/jquery.min.js"></script>
    <script src="../library/bootstrap.min.js"></script>    
    <script src="../library/canvasjs.min.js"></script>
    <script src='../library/api.js'></script>
    <link rel="stylesheet" href="../CSS/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <script src="../Scripts/script.js"></script>
    <script src="../Scripts/angular-recaptcha.min.js"></script>
    <style>
    
  </style>
  </head>

  <body>
    <div id = "MainPage" data-ng-controller="mainController">
    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ng-click="goTo('home')"> <i class="fa fa-heartbeat" aria-hidden="true" style= "color:red"></i> Gas Station Pharmacy</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li data-ng-click = "getUser()" class="active">
              <a  >Home</a>
            </li>
            <li>
                <a data-ng-click = "goTo('stores')">Stores</a>
              </li>
            <li ng-show="isActive()">
              <a data-ng-click = "goTo('order')">My Orders</a>
            </li>
            <li>
              <a  data-ng-click = "goTo('prescription')">Contact Us</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <ul class="nav navbar-nav" ng-show="isActive()">
              <li class="dropdown" >
                <a  class="dropdown-toggle" data-toggle="dropdown">{{getUser().Nombre}} {{getUser().pApellido}} </a>
                <ul class="dropdown-menu">
                  <li><a data-ng-click = "goTo('userInfo')"><i class="fa fa-cogs" aria-hidden="true"></i>   Account Settings</i></a></li>
                  <li><a data-ng-click = "goTo('mybag')"><i class="fa fa-shopping-cart" aria-hidden="true"></i>   My Bag</a></li>
                  <li><a data-ng-click = "logOutUser()"><i class="fa fa-sign-out" aria-hidden="true"></i>   Sign Out</a></li>
                </ul>
              </li>
            </ul>
            <li>
              <a data-ng-click = "goTo('login')" ng-show="!isActive()">
                <span  class="glyphicon glyphicon-log-in"></span> Log In</a>
            </li>
          
          </ul>
        </div>
      </div>
    </nav>
    <div class = "row">
      <div class = "col-xs-12">
        <div data-ng-view></div>
      </div>
    </div>
    
    <footer class="container-fluid text-center">
      <p>Life is to fast to be sick</p>
    </footer>
  </body>
</html>