
<link rel="stylesheet" href="../CSS/logStyles.css" />
			<div class="container" data-ng-controller="userController">						
						<div class="row" style="margin-top:20px">
							<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
								<form role="form">
									<fieldset>
										<h2><i class="fa fa-user-circle" aria-hidden="true"></i> Please Sign In</h2>
										<hr class="colorgraph">
										<div class="form-group">
												<label for="lg_username" class="sr-only"> Username</label>
												<input type="text" class="form-control" id="lg_password" name="lg_password" placeholder= "username" data-ng-model="username">
										</div>
										<div class="form-group">
												<label for="lg_password" class="sr-only">Password</label>
												<input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password" data-ng-model="password">
										</div>
										<span class="button-checkbox">
											<a href="" class="btn btn-link pull-right">Forgot Password?</a>
										</span>
										<hr class="colorgraph">
										<div class="row">
											<div class="col-xs-6 col-sm-6 col-md-6">
												<input type="submit"  data-ng-click="loginUser(username,password,gRecaptchaResponse)" class="btn btn-lg btn-success btn-block" value="Sign In">
											</div>
											<div class="col-xs-6 col-sm-6 col-md-6">
												<a ng-controller="mainController" ng-click="goTo('signup')" class="btn btn-lg btn-primary btn-block">Register</a>
											</div>
										</div>
										<br></br>
										<br></br>
										<div
										vc-recaptcha
										ng-model="gRecaptchaResponse"
										theme="dark"
										key="'6Lcb0jEUAAAAAGjvk_YL7MI9sUcQVlNPP8b5-a8R'"
										></div>
												<div vc-recaptcha ></div> 
									</fieldset>
								</form>
								
							</div>
						</div>		
						</div>
	<br></br>