
  <head>
    <link rel="stylesheet" type="text/css" href="../CSS/pedido.css">
    <script src="../Scripts/pedido.js"></script>
  </head>
  <body >
    <h1>Pedido</h1>

    <div class="scrollin" >
      
      <div class="list-group" ng-controller="contPedido">
        <div ng-repeat="p in listProducts">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
            <div class="d-flex justify-content-between">
              <img class="img-fluid" src="{{p.img}}" alt="Card image cap">
              <h5 class="mp" >{{p.producto}}</h5>
              <p> {{p.precio}} </p><p> {{p.prescripcion}} requiere prescripcion</p>
              
            </div>
          </a>
        </div>
      </div>

    </div>

      <br>
      <h3>Datos del Usuario</h3>
        <form ng-controller="contPedido" name="pedidos">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>ID Cliente</label>
              <input type="text" class="form-control" name="idUser" ng-model="id" placeholder="Cedula" ng-pattern="/^[0-9]{1,5}$/" required>
              <span ng-show="pedidos.idUser.$error.pattern">
                <small class="form-text text-muted">Numero de ID no valido</small>
              </span>
            </div>
            <div class="form-group col-md-6">
              <label for="exampleInputPassword1">Telefono</label>
              <input type="text" class="form-control" name="telUser" placeholder="Numero de Telefono" ng-model="tel" ng-pattern="/^[0-9]{8}$/" required>
              <span ng-show="pedidos.telUser.$error.pattern">
                <small class="form-text text-muted">Numero de telefono no valido</small>
              </span>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="sucursales">Sucursal de Recojo</label>
              <select multiple class="form-control" id="sucursales" ng-model="sucursal">
                <option>San Jose</option>
                <option>Heredia</option>
                <option>Coronado</option>
                <option>Alajuela</option>
                <option>Liberia</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <h4>Entrega de paquete</h4>
              <div class="form-group col-md-6">
              Fecha y hora de recojo:
              <input type="datetime-local" ng-model="fecha" name="dateUser" required><br>
              <small class="form-text text-muted">La fecha se dan en formato de 24 horas</small>
            </div>
            </div>
          </div>
                  
          <button type="submit" class="btn btn-primary" ng-click="submitCart()"> Terminar Compra</button>
        </form>
        

        <div id="snackbar">Pedido Creado</div>


  </body>