<div  ng-controller="contRolAdmin" data-ng-init="init()">
<section class="mainContent clearfix userProfile"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper">
            <div class="orderBox">
              <h4 ng-controller="mainController">Roles Managment</h4>
              <div class="table-responsive">
                <table class="table" >
                  <thead>
                    <tr>
                      <th>Role Name</th>
                      <th>Role ID</th>
                      <th>Description</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr   ng-repeat="r in rolList"  >
                      <td><i class="fa fa-medkit" aria-hidden="true"></i>  {{r.Nombre}}</td>
                      <td><i class="fa fa-medkit" aria-hidden="true"></i> {{r.idRol}}</td>
                      <td><i class="fa fa-medkit" aria-hidden="true"></i> {{r.Descripcion}}</td>
                      <td><a class="btn btn-info" data-toggle="modal" data-target="#rolModal">Edit</a></td>
                      <td><a class="btn btn-danger" ng-click="delete(r.idRol,r.Nombre,r.Descripcion)">delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="well well-lg clearfix">
                <ul class="pager">
                        <li ><a class="btn btn-succes btn-block" ng-controller="mainController" ng-click="goTo('nuevRol')"><i class="fa fa-plus" aria-hidden="true"></i> Create Rol</a></li>
       
                
                </ul>
              </div>
      </div>
    </div>
  </section>

  <div class="modal fade" id="rolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Role Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <label> Role ID</label>
          <input type="text" class="form-control" name="idRec" placeholder="ID of the role" ng-model="id" ng-pattern="/^[0-9]{1,5}$/" required>

          <label>Name</label>
          <input type="text" class="form-control" name="nameProd" placeholder="Name of the role" ng-model="name" required>

          <label>Description</label>
          <textarea class="form-control" name="inputList" ng-model="desc"  required>
          </textarea>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" ng-click="edit(id,name,desc)">Save changes</button>
        </div>
      </div>
    </div>
  </div>
 


</div>

