 
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile" ng-controller="contNuevRolAdmin" data-ng-init="init()">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="innerWrapper profile">
                  	<div class="orderBox">
                  		<h4>New Role</h4>
                  	</div>
                  	<div class="row">
                  		<div class="col-md-10 col-sm-9 col-xs-12">
                  			<form class="form-horizontal">
                  				<div class="form-group">
                  					<label>Name</label>
                  					<input type="text" class="form-control" name="nameProd" placeholder="Name of the role" ng-model="name" required>
                  				</div>
                  				<div class="form-group">
                  					<label>Description</label>
                  					<textarea class="form-control" name="inputList" ng-model="desc"  required>
                  					</textarea>

                  				</div>
                            <div class="form-group">
                              <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
																<button type="submit" class="btn btn-primary" ng-click="createRol(name,desc)" btn-block>Create Role</button><br>
															</div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>