 
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile" ng-controller="contNuevEmp" ng-init="UpdateDirection()" >
  <div class="container" >
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper profile">
         <div class="orderBox">
          <h4>New Employee</h4>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-9 col-xs-12">
           <form class="form-horizontal">
            <div class="form-group">
             <label> Employee ID</label>
             <input type="text" class="form-control" name="idEmp" placeholder="ID" ng-model="id" required>

           </div>
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" name="nameProd" placeholder="Name" ng-model="name" required>

           </div>
           <div class="form-group">
             <label>Email</label>
             <input type="text" class="form-control" name="empEmail" placeholder="Email" ng-model="empEmail" required>


           </div>

           <div class="form-group">
            <label for="sucursales">Username</label>
            <input type="text" class="form-control" name="empUser" placeholder="Username" ng-model="empUser" required>
          </div>

          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="userPass" required>

          </div>
          <div class="form-group">
              <label>Confirm Password</label>
              <input type="password" class="form-control" placeholder="Confirm Password" ng-model="userPassCon" required>
  
            </div>

          <div class="form-group">
            <label>Surname</label>
            <input type="text" class="form-control" placeholder="Surname" ng-model="empSur" required>

          </div>

          <div class="form-group">
            <label>Second Surname</label>
            <input type="text" class="form-control" placeholder="Second Surname" ng-model="empSecSur" required>

          </div>

          <div class="form-group">
            <label>Direction</label>
            <input type="text" class="form-control" id="dirSpec" name="reg_username" placeholder="Address Description" data-ng-model="dirSpec" >

          </div>
          <label>Rol</label>
          <select multiple class="form-control" id="sucursales"  >
            <option ng-repeat="rol in rolList" ng-click="setRol(rol.idRol)">{{rol.Nombre}}</option>
          </select>
          <label>State</label>
          <select multiple class="form-control" id="sucursales"  >
            <option ng-repeat="state in states" ng-click="UpdateCities(state.idProvincia)">{{state.Nombre}}</option>
          </select>
            <label>City</label>
            <select multiple class="form-control" id="sucursales"  >
              <option ng-repeat="city in cities" ng-click="UpdateDistricts(city.idCanton)">{{city.Nombre}}</option>
            </select>
            <label for="exampleInputEmail1">District</label>
            <select multiple class="form-control" id="sucursales"  >
              <option ng-repeat="district in districts" ng-click="setDistrict(district.idDistrito)">{{district.Nombre}}</option>
            </select>
          
          <div class="form-group">
            <label>Birth Date</label><br>
            <input type="datetime-local" ng-model="empDate" name="empDate" required>
          </div>

          <div class="form-group">
            <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
              <button type="submit" class="btn btn-primary" ng-click="setDirection(empUser, userPass, userPassCon, name, empSur, empSecSur, id, dirSpec, empDate, empEmail,false,false)" btn-block>Create Role</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>