  <link rel="stylesheet" href="../CSS/Admin/gclientes.css">


    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Client Management</h1>
        </div>
        <div class="col">
        <button type="button" class="btn btn-light" >
            Add Client
          </button>

        </div>
      </div>
    </div>



    <div class="list-group" data-ng-init="init()" ng-controller="contClientAdmin" >


      <div ng-repeat="c in clientlist" >

        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" >
          <div class="d-flex justify-content-between">
           <h5 class="mb-1">{{c.Nombre}} {{c.pApellido}}<br><br> {{c.Cedula}} <br><br> </h5>
           <p>{{c.Username}} </p>
           <p>{{c.Email}}</p>
           <div class="form-group select">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
              Edit
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-danger" ng-click="delete(c.name, cantidad)">
              Delete
            </button>
          </div>


        </div>
      </a>

    </div>


    </div>

    <div id="snackbar">Client Deleted</div>




    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Client Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>Name</label>
            <input type="text" class="form-control" name="nameProd" placeholder="Name of the client" ng-model="name" required>
            <label>ID</label>
            <input type="text" class="form-control" name="nameProd" placeholder="ID of the client" ng-model="id" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


