
    <link rel="stylesheet" type="text/css" href="../CSS/Admin/groles.css">


    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1>Roles Management</h1>
        </div>
        <div class="col-sm-6">
        <br>
        <button type="button" class="btn btn-light" ng-click="goTo('nuevRol')"> 

            Add Role
          </button>
        </div>
      </div>
    </div>


    <div class="list-group" ng-controller="contRolAdmin" data-ng-init="init()">

      <div ng-repeat="r in rollist">

        <a class="list-group-item list-group-item-action flex-column align-items-start" >
          <div class="d-flex justify-content-between">

          <div class="row">
            <div class="col-sm-5">
              <h5 class="mb-1">{{r.Nombre}} <br><br> {{r.idRol}} <br><br> </h5>
            </div>
             <div class="col-sm-5">
              <p>{{r.Descripcion}} </p>
            </div>

           <div class="col-sm-2">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rolModal">
              Edit
            </button>
            <br>
            <br>
            <button type="button" class="btn btn-danger" ng-click="delete(r.idRol,r.Name,r.Descripcion,r.idEmpresa)">
              Delete
            </button>
          </div>
          </div>


        </div>
      </a>


  </div>
  </div>

  <div id="snackbar">Role Deleted</div>



  <div class="modal fade" id="rolModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Role Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <label> Role ID</label>
          <input type="text" class="form-control" name="idRec" placeholder="ID of the role" ng-model="id" ng-pattern="/^[0-9]{1,5}$/" required>

          <label>Name</label>
          <input type="text" class="form-control" name="nameProd" placeholder="Name of the role" ng-model="name" required>

          <label>Description</label>
          <textarea class="form-control" name="inputList" ng-model="desc"  required>
          </textarea>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

