    <link rel="stylesheet" type="text/css" href="../CSS/Admin/nuevRol.css">


    <h1>New Role</h1>



    <form name="datReceta" ng-controller="contNuevRolAdmin">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label> Role ID</label>
          <input type="text" class="form-control" name="idRec" placeholder="ID of the role" ng-model="id" ng-pattern="/^[0-9]{1,5}$/" required>
          <span ng-show="datReceta.idRec.$error.pattern">
            <small class="form-text text-muted">ID not valid</small>
          </span>
        </div>
        <div class="form-group col-md-6">
          <label>Name</label>
          <input type="text" class="form-control" name="nameProd" placeholder="Name of the role" ng-model="name" required>
          <span ng-show="datReceta.numDoctor.$error.pattern">
            <small id="fileHelp" class="form-text text-muted">Name is not valid</small>
          </span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Description</label>
          <textarea class="form-control" name="inputList" ng-model="desc"  required>
          </textarea>
          <span ng-show="datReceta.inputList.$error.pattern">
            <small id="fileHelp" class="form-text text-muted">Description not valid</small>
          </span>

        </div>
        
      </div>
      
      <button type="submit" class="btn btn-primary" ng-click="createRol(name,desc)">
      Create Role
      </button>

    </form>
    

    <div id="snackbar">Role Created</div>
