
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile" ng-controller="contNuevSucAdmin" data-ng-init="init()">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="innerWrapper profile">
                    <div class="orderBox">
                      <h4>New Store</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-sm-9 col-xs-12">
                          <form class="form-horizontal">
                            <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="nameProd" placeholder="Name of the Store" ng-model="name" required>
                                    <span ng-show="datReceta.numDoctor.$error.pattern">
                                      <small id="fileHelp" class="form-text text-muted">Name is not valid</small>
                                    </span>
                            </div>
                            <div class="form-group">
                              <label for="" class="col-md-2 col-sm-3 control-label">Company</label>
                              <div class="col-md-10 col-sm-9">
                                <select  class="form-control" ng-model="idEmp" required>
                                    <option ng-if="e.idEmpresa==idAdmin" ng-repeat="e in empList" >{{e.idEmpresa}}: {{e.Nombre}}
                                    </option>
                                </select>
                            </div>
                            </div>
                            <div ng-controller="userController" ng-init="UpdateDirection()">
                            <div class="form-group">
                                    <label>State</label>
                                    <select multiple class="form-control" id="sucursales"  >
                                            <option ng-repeat="state in states" ng-click="UpdateCities(state.idProvincia)">{{state.Nombre}}</option>
                                        </select>
                        
                                        </div>
                        
                                        <div class="form-group">
                                        <label>City</label>
                                                <select multiple class="form-control" id="sucursales"  >
                                                        <option ng-repeat="city in cities" ng-click="UpdateDistricts(city.idCanton)">{{city.Nombre}}</option>
                                                    </select>
                        
                                        </div>
                        
                        
                        
                                        <div class="form-group">
                                        <label for="exampleInputEmail1">District</label>
                                                <select multiple class="form-control" id="sucursales"  >
                                                        <option ng-repeat="district in districts" ng-click="setDistrict(district.idDistrito)">{{district.Nombre}}</option>
                                                    </select>
                                        </div> 
                                        <div class="form-group">
                                                <label>Direction Detail</label>
                                                <input type="text" class="form-control" name="nameProd" placeholder="Direction Detail" ng-model="name" required>
                                                <span ng-show="datReceta.numDoctor.$error.pattern">
                                                  <small id="fileHelp" class="form-text text-muted">Name is not valid</small>
                                                </span>
                                        </div>
                            <div class="form-group">
                              <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
                                <button type="submit" class="btn btn-primary btn-block">SAVE INFO</button>
                              </div>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>